<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.OneValtech" extends="Foundation.Serialization.Base" description="OneValtech project layer serialization." dependencies="Foundation.*" patch:after="configuration[@name='Foundation.Serialization.Base']">
          <!--
          We don't need to specify predicate properties nor targetDataStore config since we chose to extend 
          "Foundation.Serialization.Base", where these ones are already set.
          --> 
          <predicate>
            <include name="Project.OneValtech.Templates" database="master" path="/sitecore/templates/Project"/>                        
            <include name="Project.OneValtech.Layouts" database="master" path="/sitecore/layout/Layouts/Project"/>
            <include name="Project.OneValtech.Models" database="master" path="/sitecore/layout/Models/Project"/>
            <include name="Project.OneValtech.Placeholder Settings" database="master" path="/sitecore/layout/Placeholder Settings/Project"/>
            <include name="Project.OneValtech.Renderings" database="master" path="/sitecore/layout/Renderings/Project"/>
			<include name="Project.OneValtech.Media" database="master" path="/sitecore/media library/Project"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>