<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.BasicComponents" extends="Foundation.Serialization.Base" description="Feature BasicComponents layer serialization." dependencies="Foundation.*" patch:after="configuration[@name='Foundation.Serialization.Base']">
          <!--
          We don't need to specify predicate properties nor targetDataStore config since we chose to extend 
          "Foundation.Serialization.Base", where these ones are already set.
          --> 
          <predicate>
            <include name="Feature.BasicComponents.Templates" database="master" path="/sitecore/templates/Feature"/>                                    
            <include name="Feature.BasicComponents.Rendering" database="master" path="/sitecore/layout/Renderings/Feature"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>