<header class="header">
  {{render '@heart'}}

  <ul class="header__menu">
    <li>
      <a>My Profile</a>
    </li>
    <li>
      <a>Account</a>
    </li>
  </ul>

  <button class="btn btn--primary raise-hand">
    Raise Hand
  </button>
  <a href="#menu" class="box-shadow-menu">
  </a>
</header>