<section class="profile-heading">
    <img class="img img--round" src="https://i.imgur.com/7xdfsat.png" alt="Bruno Freitas">
    <h2 class="featured-profile__user">Bruno Freitas</h2>
    <div class="heart-counter">
        <span>30</span>
        <svg class="heart-icon" width="27" height="24" viewBox="0 0 74 68" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M55.5 0L37 12.3636L18.5 0L0 15.4545V37.0909L37 68L74 37.0909V15.4545L55.5 0Z" fill="#2F1160" />
        </svg>
    </div>
</section>

<ul class="praise-grid">
    <li class="praise-grid__item">
        <div class="praise-card">
            <p class="comment">Bruno helped me to create my first vuejs component.</p>
            <div class="praise-card__info">
                <img class="img img--round" src="https://i.imgur.com/Mfd4mit.jpg" alt="Profile 1">
                <div class="person">
                    <p>Ana</p>
                    <p>16/09/2021</p>
                </div>
            </div>
            <svg class="heart-icon" width="27" height="24" viewBox="0 0 74 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M55.5 0L37 12.3636L18.5 0L0 15.4545V37.0909L37 68L74 37.0909V15.4545L55.5 0Z" fill="#2F1160" />
            </svg>
        </div>
    </li>
    <li class="praise-grid__item">
        <div class="praise-card">
            <p class="comment">I was having trouble to setup my first sitecore project. Bruno was so sweet to take some time to help me out. Thank you!</p>
            <div class="praise-card__info">
                <img class="img img--round" src="https://i.imgur.com/59wDkwU.jpg" alt="Profile 1">
                <div class="person">
                    <p>Rebecca</p>
                    <p>16/09/2021</p>
                </div>
            </div>
            <svg class="heart-icon" width="27" height="24" viewBox="0 0 74 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M55.5 0L37 12.3636L18.5 0L0 15.4545V37.0909L37 68L74 37.0909V15.4545L55.5 0Z" fill="#2F1160" />
            </svg>
        </div>
    </li>
    <li class="praise-grid__item">
        <div class="praise-card">
            <p class="comment">Bruno is a rockstar in NuxtJS! Thank you so much for helping me out.</p>
            <div class="praise-card__info">
                <img class="img img--round" src="https://i.imgur.com/PX3w3x7.jpg" alt="Profile 1">
                <div class="person">
                    <p>Floriano Cardozo</p>
                    <p>16/09/2021</p>
                </div>
            </div>
            <svg class="heart-icon" width="27" height="24" viewBox="0 0 74 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M55.5 0L37 12.3636L18.5 0L0 15.4545V37.0909L37 68L74 37.0909V15.4545L55.5 0Z" fill="#2F1160" />
            </svg>
        </div>
    </li>
    <li class="praise-grid__item">
        <div class="praise-card">
            <p class="comment">Bruno helped to build a solid BE architecture for the new Project. Thanks!</p>
            <div class="praise-card__info">
                <img class="img img--round" src="https://i.imgur.com/f1q5bim.png" alt="Profile 1">
                <div class="person">
                    <p>Julia</p>
                    <p>16/09/2021</p>
                </div>
            </div>
            <svg class="heart-icon" width="27" height="24" viewBox="0 0 74 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M55.5 0L37 12.3636L18.5 0L0 15.4545V37.0909L37 68L74 37.0909V15.4545L55.5 0Z" fill="#2F1160" />
            </svg>
        </div>
    </li>
</ul>