<div class="profile-grid">
    <ul class="profile-grid__wrapper">
        <li class="profile-grid__item">
            <div class="profile-card">
                <img class="img profile-card__image" src="https://i.imgur.com/Mfd4mit.jpg" alt="Ana Bariviera Photo">
                <div class="profile-card__info">
                    <p>Ana</p>
                    <div class="profile-card__info__likes">
                        <span>15</span>
                        <svg class="heart-icon" width="27" height="24" viewBox="0 0 74 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M55.5 0L37 12.3636L18.5 0L0 15.4545V37.0909L37 68L74 37.0909V15.4545L55.5 0Z" fill="#2F1160" />
                        </svg>
                    </div>
                </div>
            </div>
        </li>
        <li class="profile-grid__item">
            <div class="profile-card">
                <img class="img profile-card__image" src="https://i.imgur.com/59wDkwU.jpg" alt="Rebecca Photo">
                <div class="profile-card__info">
                    <p>Rebecca</p>
                    <div class="profile-card__info__likes">
                        <span>25</span>
                        <svg class="heart-icon" width="27" height="24" viewBox="0 0 74 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M55.5 0L37 12.3636L18.5 0L0 15.4545V37.0909L37 68L74 37.0909V15.4545L55.5 0Z" fill="#2F1160" />
                        </svg>
                    </div>
                </div>
            </div>
        </li>
        <li class="profile-grid__item">
            <div class="profile-card">
                <img class="img profile-card__image" src="https://i.imgur.com/f1q5bim.png" alt="Julia Photo">
                <div class="profile-card__info">
                    <p>Julia</p>
                    <div class="profile-card__info__likes">
                        <span>12</span>
                        <svg class="heart-icon" width="27" height="24" viewBox="0 0 74 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M55.5 0L37 12.3636L18.5 0L0 15.4545V37.0909L37 68L74 37.0909V15.4545L55.5 0Z" fill="#2F1160" />
                        </svg>
                    </div>
                </div>
            </div>
        </li>
        <li class="profile-grid__item">
            <div class="profile-card">
                <img class="img profile-card__image" src="https://i.imgur.com/lF55Cec.png" alt="João Photo">
                <div class="profile-card__info">
                    <p>João</p>
                    <div class="profile-card__info__likes">
                        <span>15</span>
                        <svg class="heart-icon" width="27" height="24" viewBox="0 0 74 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M55.5 0L37 12.3636L18.5 0L0 15.4545V37.0909L37 68L74 37.0909V15.4545L55.5 0Z" fill="#2F1160" />
                        </svg>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>